<!DOCTYPE html>
{%load staticfiles%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- <link rel="stylesheet" href="{%static "css/pagination.css"%}"> -->
    <title></title>
  </head>
  <body>
      <nav aria-label="...">
        <ul class="pager">
          <span>{% if page.has_previous%}
            <li><a href="?page={{page.previous_page_number}}">Previous</a></li>&nbsp
            {%endif%}
          </span>
          <span>Page {{page.number}} Of {{page.paginator.num_pages}}</span>&nbsp

          <span>{% if page.has_next%}
            <li><a href="?page={{page.next_page_number}}">Next</a></li>
            {%endif%}
          </span>
        </ul>
      </nav>

  </body>
</html>
